@using Tops.FRM;
@{
    ViewBag.Title = "选择库区";
    ViewBag.ModuleName = "资料查询";
    Layout = "~/TopsLib/Views/Shared/_Module.cshtml";
    string QueryName = "SelPartDescription_WarehouseCode";
    Tops.FRM.Biz biz = Tops.FRM.Biz.GetBiz(QueryName, Tops.FRM.BizType.Query);
    var metas = Tops.FRM.TopsMeta.LoadMetas(QueryName);

    foreach (string key in metas[0].Keys)
    {
        metas[0][key].Type = "String";
    }
    var cols = ModuleConfig.GetColumns(metas[0], biz.Lookups, biz.Sqls[0], biz);

    string WarehouseCode = Request.QueryString["WarehouseCode"].ToString();
}
@section Params{
    <form id="paramForm" method="post" action=""> 
    <input type="hidden" name="WarehouseCode" value="@(WarehouseCode)" />
    <div id="hiddenlist"> 
    </div> 
    <div id="paramlist">
        @for (int i = 0; i < biz.Fields.Count; i++)
        {
            string labelStr = string.IsNullOrEmpty(biz.Fields[i].Title) ? biz.Fields[i].FieldName : biz.Fields[i].Title;
            var fieldName = biz.Fields[i].FieldName;
            var lookupField = biz.Lookups.Where(p => p.KeyField == fieldName);
            <div class="param_item">
                @if (lookupField != null && lookupField.ToList().Count > 0)
                {
                    <label class="plugin_label">@(labelStr):</label>
                    <input type="text" name="@(fieldName)"  fieldType="lookup" label="@(labelStr)" />
                    <script type="text/javascript">
                            $("input[name=@(fieldName)]")[0].lookup=@Html.Raw(lookupField.First<Lookup>().ToJson());
                    </script>
                }
                else if (biz.Fields[i].DataList.Count > 0)
                {
                    <label class="plugin_label">@(labelStr):</label>
                    <select name="@(fieldName)" fieldType="select" >
                        @foreach (var item in biz.Fields[i].DataList)
                        {
                            <option value="@(item.Key)">@(item.Value)</option>
                        }
                    </select>
                }
                else if (biz.Fields[i].FieldType.EndsWith("DateTime"))
                {
                    <input type="text" name="@(fieldName)"  fieldType="date" label="@(labelStr)"/>
                }
                else
                {
                    <input type="text" name="@(fieldName)"  fieldType="textbox" label="@(labelStr)"/>
                }
            </div>
        }
        <div style="clear: both;">
        </div>
    </div>
    </form>
}
@section Script{
    <script type="text/javascript">
    var topsRender=null;
    var grid =null;
    $(function () {
        $("#module_toolbar input").hide();
        $("#searchBt").show();
        //渲染插件
        topsRender=$("#paramlist *[fieldType]").pluginRender();
         

        //初始化表格
        grid = $("#datagrid").ligerGrid({
            columns: @Html.Raw(cols.ToJson(true)),
            url: '/AjaxGridData/SelPartDescription_WarehouseCode',
            method: 'get',
            checkbox:true,
            delayLoad: true,
            dataType: "local",
            dataAction: 'server',
            root: 'Data',                       //数据源字段名
            record: 'Other1',                     //数据源记录数字段名
            rownumbers: true,
            //data: AllProductData, 
            showTitle: false,
            width: '99.5%',
            height: '100%',
            heightDiff: -10,
            enabledSort:false,
            usePager:false,
            onSuccess: function (data, b) {
                $.topsErrorDeal(data); 

            },
            onAfterShowData:function(data, container, callback){
                
                if(data.Data.length>0){
                   //获取库位编码
                   var WarehouseCode = $("[name=WarehouseCode]").val();
                   var arr = new Array(); 
                   
                   if(WarehouseCode.indexOf(";")> -1 ){ 
                       data.Data.forEach(function(value,index){
                           if((WarehouseCode.indexOf(";" + value.s_Warehouse_Code + ';') != -1 && WarehouseCode.indexOf(value.s_Warehouse_Code+";") > 0)
                           || (WarehouseCode.indexOf(value.s_Warehouse_Code + ';') != -1 && WarehouseCode.indexOf(value.s_Warehouse_Code+";") == 0) ){
                               $(".l-grid1 .l-grid-body1").find("tr:eq("+ index +")").addClass("l-grid-row-alt").addClass("l-selected");
                               $(".l-grid2 .l-grid-body2").find("tr:eq("+ index +")").addClass("l-grid-row-alt").addClass("l-selected");
                               
                               grid.selected.push(value);
                           }
                       }) 
                   } 
                }
            }, 
            onDblClickRow: function (rowdata, rowindex, rowDomElement) { 

                var idKey='@(biz.Sqls[0].Key)';
                if($.trim(idKey)=='')return;
                var idData=new Object();
                idData[idKey]=rowdata[idKey];

                f_addTab("Modify", "维护[" + rowdata["s_PartDescription_Name"] + "]", "/PartDescription/Modify?"+"ctrl=edit&id=" +escape($.toJSON(idData)) + "&Sel_Id="+ rowdata[idKey] +"&" + Math.random());
            }
        });
        //绑定按钮事件
        $("#searchBt").click(function () {
//            $('select[name=rp]').val($(".l-bar-group,.l-bar-selectpagesize").find("option:selected").val());
//            grid.options.parms = $("form#paramForm").serializeArray();
//            $('select[name=rp]').change();
            
            grid.options.parms = $("form#paramForm").serializeArray();
            grid.loadServerData(grid.options.parms);
        });
        $("#addBt").click(function () {
            f_addTab("Add", "添加", "/PartDescription/modify?"+"ctrl=add&" + Math.random());
        }); 
        $("#exportBt").click(function(){
            $("#paramForm").submit();
        })
          
           
        $("#searchBt").click();
        
    });

    //获取选择的数据
    function f_getcheckData(){
        var rows = grid.getSelectedRows(); 
        return rows;
    }

    function f_flushGrid()
    {
        grid.loadData();
    }
    </script>
}
<div id="datagrid">
</div>
