@using Tops.FRM;
@{
    ViewBag.Title = "装配缓存区进出存管理";
    ViewBag.ModuleName = "资料查询";
    Layout = "~/TopsLib/Views/Shared/_Module.cshtml";
    string QueryName = "SelBillStockInOutAssemblyCacheList";
    Tops.FRM.Biz biz = Tops.FRM.Biz.GetBiz(QueryName, Tops.FRM.BizType.Query);
    var metas = Tops.FRM.TopsMeta.LoadMetas(QueryName);
    foreach (string key in metas[0].Keys)
    {
        metas[0][key].Type = "String";
    }
    var cols = ModuleConfig.GetColumns(metas[0], biz.Lookups, biz.Sqls[0], biz);
      
}
@section Params{
    <form id="paramForm" method="post" action="/ExcelHelp/DownLoad">
    <div id="hiddenlist">
    </div>
    <div id="paramlist">
        @for (int i = 0; i < biz.Fields.Count; i++)
        {
            string labelStr = string.IsNullOrEmpty(biz.Fields[i].Title) ? biz.Fields[i].FieldName : biz.Fields[i].Title;
            var fieldName = biz.Fields[i].FieldName;
            var lookupField = biz.Lookups.Where(p => p.KeyField == fieldName);
            <div class="param_item">
                @if (lookupField != null && lookupField.ToList().Count > 0)
                {
                    <label class="plugin_label">@(labelStr):</label>
                    <input type="text" name="@(fieldName)"  fieldType="lookup" label="@(labelStr)" />
                    <script type="text/javascript">
                            $("input[name=@(fieldName)]")[0].lookup=@Html.Raw(lookupField.First<Lookup>().ToJson());
                    </script>
                }
                else if (biz.Fields[i].DataList.Count > 0)
                {
                    <label class="plugin_label">@(labelStr):</label>
                    <select name="@(fieldName)" fieldType="select" >
                        @foreach (var item in biz.Fields[i].DataList)
                        {
                            <option value="@(item.Key)">@(item.Value)</option>
                        }
                    </select>
                }
                else if (biz.Fields[i].FieldType.EndsWith("DateTime"))
                {
                    <input type="text" name="@(fieldName)"  fieldType="date" label="@(labelStr)"/>
                }
                else
                {
                    <input type="text" name="@(fieldName)"  fieldType="textbox" label="@(labelStr)"/>
                }
            </div>
        }
        <div style="clear: both;">
        </div> 
    </div>
    </form>
}
@section Script{
    <script type="text/javascript">
    var topsRender=null;
    var grid =null;

    //当前时间
    var nowDate = new Date().getFullYear().toString() +"-"+ (new Date().getMonth() + 1 < 10 ? "0" + (new Date().getMonth() + 1) : (new Date().getMonth() + 1).toString())
            +"-"+ (new Date().getDate() < 10 ? "0" + new Date().getDate() : new Date().getDate().toString());

    $(function () {
        //$("#module_toolbar input").hide();
        $("#searchBt,#checkBt,#addMoreBt").show();
        
        $("#addBt").removeAttr("class").attr("class","save_bt");
        $("#addBt").attr("value","提交单据");  
        $("#saveBt").attr("value","撤销提交单据");   
        $("#addMoreBt").attr("value","装配缓存区库存明细");
        $("#checkBt").attr("value","数据来源说明");   

        //渲染插件
        topsRender=$("#paramlist *[fieldType]").pluginRender();
        
        $("[name=BeginTime]").val(nowDate);

        //初始化表格
        grid = $("#datagrid").ligerGrid({
            columns: @Html.Raw(cols.ToJson(true)),
            url: '/AjaxGridData/SelBillStockInOutAssemblyCacheList',
            method: 'get',
            delayLoad: true,
            dataType: "local",
            dataAction: 'server',
            root: 'Data',                       //数据源字段名
            record: 'Other1',                     //数据源记录数字段名
            rownumbers: true,
            //data: AllProductData, 
            showTitle: false,
            width: '99.5%',
            height: '100%',
            checkbox:true,
            heightDiff: -10,
            enabledSort:false,
            onSuccess: function (data, b) {
                $.topsErrorDeal(data);
            },
            onDblClickRow: function (rowdata, rowindex, rowDomElement) {

                f_addTab(rowdata["n_BillStockInOut_Id"], "单据明细[" + rowdata["s_BillStockInOut_Code"] + "]", "/IMWarehousing/Detail?n_BillStockInOut_Id="+ rowdata["n_BillStockInOut_Id"] +"&" + Math.random());
     
                //f_addTab(rowdata[idKey], "维护[" + rowdata["s_Warehouse_Name"] + "]", "/Rack/Modify?"+"ctrl=edit&id=" +escape($.toJSON(idData)) + "&Sel_Id="+ rowdata[idKey] +"&" + Math.random());
            }
        });
        //绑定按钮事件
        $("#searchBt").click(function () {
            $('select[name=rp]').val($(".l-bar-group,.l-bar-selectpagesize").find("option:selected").val());
            grid.options.parms = $("form#paramForm").serializeArray();
            $('select[name=rp]').change();
        });  
        $("#exportBt").click(function(){
            $("#paramForm").submit();
        })
        
        //缓存区库存明细点击事件
        $("#addMoreBt").click(function(){
            f_addTab("ReportInventory", "装配缓存区库存明细", "/AssemblyCache/ReportInventory"); 
        })

        //提交事件
        $("#addBt").click(function(){ 
            var rows = grid.getSelectedRows();
            
            if(rows.length == 0){
               return;
            }

            rows = rows.filter(function(item,index){ 
                if(item.s_BillStockInOut_WhetherToSubmit == "否"){
                   return item;
                }
            })

            $.ajax({
                type:"POST",
                url:"/AjaxPost/AddSubmitBillStockInOutAssemblyCache",
                data:{Dictionarys:rows},
                success:function(result){
                    result = JSON.parse(result);
                    if(result.IsSuccess){
                       alert("提交成功");
                       $("#searchBt").click();
                    }else{
                       alert(result.Msgs[0]);
                    }
                }
            })
        })

        //撤销提交事件
        $("#saveBt").click(function(){
            
            var rows = grid.getSelectedRows();
            
            if(rows.length == 0){
               return;
            }

            rows = rows.filter(function(item,index){ 
                if(item.s_BillStockInOut_WhetherToSubmit == "是"){
                   return item;
                }
            })

            $.ajax({
                type:"POST",
                url:"/AjaxPost/AddSubmitBillStockInOutAssemblyCache",
                data:{Dictionarys:rows},
                success:function(result){
                    result = JSON.parse(result);
                    if(result.IsSuccess){
                       alert("撤销提交成功");
                       $("#searchBt").click();
                    }else{
                       alert(result.Msgs[0]);
                    }
                }
            })
        })

        //数据来源说明事件
        $("#checkBt").click(function(){
            $.ligerDialog.open({
                title:'数据来源说明',
                url: '/AssemblyCache/Information', 
                height: 300,
                width: 700 
            });

        })

        $("#searchBt").click();
    });
    function f_flushGrid()
    {
        grid.loadData();
    }
    </script>
}
<div id="datagrid">
</div>
