@using Tops.FRM;
@{
    ViewBag.Title = "盘点明细报表";
    ViewBag.ModuleName = "资料查询";
    Layout = "~/TopsLib/Views/Shared/_Module.cshtml";
    string QueryName = "SelInventoryDetailRecordList";
    Tops.FRM.Biz biz = Tops.FRM.Biz.GetBiz(QueryName, Tops.FRM.BizType.Query);
    var metas = Tops.FRM.TopsMeta.LoadMetas(QueryName);
    foreach (string key in metas[0].Keys)
    {
        metas[0][key].Type = "String";
    }
    var cols = ModuleConfig.GetColumns(metas[0], biz.Lookups, biz.Sqls[0], biz);

    //Excel文件名称时间后缀
    string ExcelDate = DateTime.Now.ToString("yyyyMMdd"); 
}
@section Params{
    <form id="paramForm" method="post" action="/ExcelHelp/DownLoad">
    <div id="hiddenlist"> 
            <input type="hidden" name="exportdata" value="SelInventoryDetailRecordList_ExcelData" />
            <input type="hidden" name="exportcolumn" value="SelInventoryDetailRecordList_ExcelColumns" />
            <input type="hidden" name="exportsheetname" value="盘点明细报表@(ExcelDate)" /> 
            <input type="hidden" name="exportcondition" value="" />
    </div>
    <div id="paramlist">
        @for (int i = 0; i < biz.Fields.Count; i++)
        {
            string labelStr = string.IsNullOrEmpty(biz.Fields[i].Title) ? biz.Fields[i].FieldName : biz.Fields[i].Title;
            var fieldName = biz.Fields[i].FieldName;
            var lookupField = biz.Lookups.Where(p => p.KeyField == fieldName);
            <div class="param_item">
                @if (lookupField != null && lookupField.ToList().Count > 0)
                {
                    <label class="plugin_label">@(labelStr):</label>
                    <input type="text" name="@(fieldName)"  fieldType="lookup" label="@(labelStr)" />
                    <script type="text/javascript">
                            $("input[name=@(fieldName)]")[0].lookup=@Html.Raw(lookupField.First<Lookup>().ToJson());
                    </script>
                }
                else if (biz.Fields[i].DataList.Count > 0)
                {
                    <label class="plugin_label">@(labelStr):</label>
                    <select name="@(fieldName)" fieldType="select" >
                        @foreach (var item in biz.Fields[i].DataList)
                        {
                            <option value="@(item.Key)">@(item.Value)</option>
                        }
                    </select>
                }
                else if (biz.Fields[i].FieldType.EndsWith("DateTime"))
                {
                    <input type="text" name="@(fieldName)"  fieldType="date" label="@(labelStr)"/>
                }
                else
                {
                    <input type="text" name="@(fieldName)"  fieldType="textbox" label="@(labelStr)"/>
                }
            </div>
        }
        <div style="clear: both;">
        </div> 
    </div>
    </form>
}
@section Script{
    <script type="text/javascript">
    var topsRender=null;
    var grid =null;

    //当前时间
    var nowDate = new Date().getFullYear().toString() +"-"+ (new Date().getMonth() + 1 < 10 ? "0" + (new Date().getMonth() + 1) : (new Date().getMonth() + 1).toString())
            +"-"+ (new Date().getDate() < 10 ? "0" + new Date().getDate() : new Date().getDate().toString());

    $(function () {
        //$("#module_toolbar input").hide(); 
        $("#searchBt,#exportBt").show();
         
        $("#checkBt").attr("value","数据来源说明");  
         
        //渲染插件
        topsRender=$("#paramlist *[fieldType]").pluginRender(); 

        //上架开始时间，上架结束时间处理
        $("#paramlist .param_item:eq(0)").empty().append("<input type='text' name='BeginTime' value='"+ nowDate + " 08:00" +"' />");
        $("#paramlist .param_item:eq(1)").empty().append("<input type='text' name='EndTime' />");

        $("input[name=BeginTime]").ligerDateEditor({ showTime: true, label: '上架开始时间', labelWidth: 80,labelAlign: 'right' });
        $("input[name=EndTime]").ligerDateEditor({ showTime: true, label: '上架结束时间', labelWidth: 80,labelAlign: 'right' });
         

        //初始化表格
        grid = $("#datagrid").ligerGrid({
            columns: @Html.Raw(cols.ToJson(true)),
            url: '/AjaxGridData/SelInventoryDetailRecordList',
            method: 'get',
            delayLoad: true,
            dataType: "local",
            dataAction: 'server',
            root: 'Data',                       //数据源字段名
            record: 'Other1',                     //数据源记录数字段名
            rownumbers: true,
            //data: AllProductData, 
            showTitle: false,
            width: '99.5%',
            height: '100%',
            checkbox:true,
            heightDiff: -10,
            enabledSort:false,
            onSuccess: function (data, b) {
                $.topsErrorDeal(data);
            } 
        });
        //绑定按钮事件
        $("#searchBt").click(function () {
            grid.options.parms = $("form#paramForm").serializeArray();
            grid.loadServerData(grid.options.parms);
        });  
        $("#exportBt").click(function(){
            $("#paramForm").submit();
        })
          
        $("#searchBt").click();
    });
    function f_flushGrid()
    {
        grid.loadData();
    }
    </script>
}
<div id="datagrid">
</div>
