@{
    Layout = "~/TopsLib/Views/Shared/_MobileTemplate.cshtml";

    string ParentIds = Request.QueryString["ParentIds"];

    string n_BillStockInOut_Id = Request.QueryString["n_BillStockInOut_Id"];
}
@section Body{
    <div class="body">
        <div v-bind:class="TitleTab_Showed">
            <table>
                <tr> 
                    <th> 
                        产品编码/<br />
                        原储位码/<br />
                        目标储位码
                    </th>
                    <th>
                        条码/<br />
                        产品名称
                    </th>
                    <th>
                        移位数/<br />
                        库存数
                    </th>
                </tr>
            </table>
        </div>
        <div v-bind:class="InfoTab_Showed">
            <table>
                <tr v-for="(item,i) in DataList" :index="i"  n_BillStockInOut_Id="@(n_BillStockInOut_Id)" :RecordInventoryMoveDifferenceCount_Id="item.RecordInventoryMoveDifferenceCount_Id" v-on:click="f_CheckRecord"  :class="{ 'Location_lock' : item.s_Space_LocationLock == '锁定' ? true:false }">
                    
                    <td>
                    {{ item.RecordTransfer_GoodsProductCode }}/<br />
                    {{ item.RecordTransfer_OldSpaceCode }}/<br />
                    {{ item.RecordTransfer_NewSpaceCode  }}
                    </td>
                    <td>
                    {{ item.n_RecordTransfer_Code.indexOf(item.RecordTransfer_GoodsProductCode) > -1 && item.RecordTransfer_GoodsProductCode != item.n_RecordTransfer_Code ? item.RecordTransfer_GoodsProductCode : "" }} <br /> 
                    {{ item.n_RecordTransfer_Code.indexOf(item.RecordTransfer_GoodsProductCode) > -1 && item.RecordTransfer_GoodsProductCode != item.n_RecordTransfer_Code ?
                     item.n_RecordTransfer_Code.substring(item.n_RecordTransfer_Code.length - 10,item.n_RecordTransfer_Code.length) 
                     :item.n_RecordTransfer_Code }} / <br /> 
                    {{ item.RecordTransfer_GoodsProductName }}
                    </td>
                    <td>
                    {{ item.RecordTransfer_Number }}/<br />
                    {{ item.ReportInventoryCurrent_Number }}
                    </td>
                </tr>
            </table>
        </div>
        <div v-bind:class="button_Div_Showed"> 
             <div v-on:click="f_SubmitBillStockInOut">提交单据</div>
        </div>
    </div>
}
@section Script{
    <style type="text/css">
        .TitleTab
        {
            width: calc(90%);
            height: 90px;
            margin: calc(3%) calc(5%) calc(0%) calc(5%);
            text-align: center;
        }
        .TitleTab table, .InfoTab table
        {
            width: 100%;
            border-collapse: collapse;
        }
        .TitleTab th
        {
            width: 30%;
            border: 1px solid #a5e0a5;
            background: rgb(200 220 232);
            line-height: 30px;
            font-family: 微软雅黑;
            font-weight: normal;
            font-size: 12px;
        }
        .TitleTab th:nth-child(2)
        {
            width: 45%;
            border: 1px solid #a5e0a5;
            line-height: 30px;
            font-family: 微软雅黑;
            font-weight: normal;
            font-size: 12px;
        }
        .TitleTab th:nth-child(3)
        {
            width: 25%;
            border: 1px solid #a5e0a5;
            line-height: 30px;
            font-family: 微软雅黑;
            font-weight: normal;
            font-size: 12px;
        }
        
        .InfoTab
        {
            width: calc(90%);
            height: 182px;
            margin: calc(0%) calc(5%);
            text-align: center;
            overflow-y: scroll;
        }
        .InfoTab td
        {
            width: 30%;
            border: 1px solid #a5e0a5;
            line-height: 30px;
            font-family: 微软雅黑;
            font-weight: normal;
            font-size: 12px;
        }
        .InfoTab td:nth-child(2)
        {
            width:45%;
            border: 1px solid #a5e0a5;
            line-height: 30px;
            font-family: 微软雅黑;
            font-weight: normal;
            font-size: 12px;
        }
        .InfoTab td:nth-child(3)
        {
            width: 25%;
            border: 1px solid #a5e0a5;
            line-height: 30px;
            font-family: 微软雅黑;
            font-weight: normal;
            font-size: 12px;
        }
        
        
        .button_Div div
        {
            width: calc(90%);
            margin: calc(2%) calc(5%) calc(2%) calc(5%);
            background: rgb(80, 182, 248);
            color: white;
            font-family: 微软雅黑;
            font-size: 12px;
            line-height: 45px;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
            display: inline-block;
            letter-spacing: 2px;
        }
        
        .Location_lock
        {
            background:#fbeded;
        }
    </style>
    <script type="text/javascript">
        var ajaxhelper = new ajaxHelper();

        //ajax POST请求变量
        var ajaxFirst = null;

        $(function () {
            var vue = new Vue({
                el: ".body",
                data: {
                    TitleTab_Showed: "TitleTab", //结果表格标题样式
                    InfoTab_Showed: "InfoTab", //结果表格样式 
                    button_Div_Showed: "button_Div", //按钮样式 
                    DataList: [] //结果表格数据
                },
                methods: {
                    //加载页面后执行
                    f_reloadPage: function () {

                        //给标题
                        window.parent.$(".top").find("label").text("单据明细");
                        //阻止键盘弹出
                        f_preventKeyBoard();

                        //判定是否存在父窗口
                        if (window.top == window.self) {
                            //加载返回事件 
                            window.parent.f_loadEvent("../../../../Displacement/Index?ParentIds=" + "@ParentIds");
                        } else {

                            //返回
                            $("#btnBotton").click(function () {

                                location.href = "../../../../Displacement/Index?ParentIds=" + "@ParentIds";
                            })
                        }
                         

                        //加载单据明细数据
                        vue.f_loadBillStockInOutDetailData();
                    },
                    //加载单据明细数据
                    f_loadBillStockInOutDetailData: function () {
                        var n_BillStockInOut_Id = "@(n_BillStockInOut_Id)";

                        //对象名称 查询需提交的移位单据的单据明细记录
                        var ObjectName = "SelDisplacementSubmitBillStockInOutDetails";

                        var param = { n_BillStockInOut_Id: n_BillStockInOut_Id };

                        ajaxhelper.ajax_Get(ObjectName, param, function (result) {
                            //拼装仓库选择数据源
                            vue.DataList = [];
                            if (result.Data[0].length > 0) {
                                result.Data[0].forEach(function (value, index) {
                                    vue.DataList.push({
                                        BillStockInOutDetail_Id: value.BillStockInOutDetail_Id,

                                        n_RecordTransfer_Id: value.RecordTransfer_Id,
                                        n_RecordTransfer_Code: value.n_RecordTransfer_Code,
                                        RecordTransfer_OldSpaceCode: value.RecordTransfer_OldSpaceCode,
                                        RecordTransfer_NewSpaceCode: value.RecordTransfer_NewSpaceCode,
                                        RecordTransfer_GoodsProductCode: value.RecordTransfer_GoodsProductCode,
                                        RecordTransfer_GoodsProductName: value.RecordTransfer_GoodsProductName,
                                        RecordTransfer_Operator: value.RecordTransfer_Operator,
                                        RecordTransfer_Time: value.RecordTransfer_Time,
                                        RecordTransfer_Number: value.RecordTransfer_Number,
                                        RecordTransfer_BinCode: value.RecordTransfer_BinCode,
                                        ReportInventoryCurrent_Number: value.ReportInventoryCurrent_Number,
                                        s_Space_LocationLock: value.s_Space_LocationLock,
                                        IsCheckRecord: false
                                    })
                                })
                            }

                        }, function (result) {
                            f_commonShowMsg(result.Msgs[0]);
                        })
                    },
                    //提交单据保存到数据库
                    f_SubmitBillStockInOut: function () {

                        if (!confirm("请确认是否要提交单据!")) {
                            return;
                        }

                        var obj = event.target;
                        if ($(obj).is("[disabled]")) {
                            return;
                        }

                        //重复请求处理
                        if(ajaxFirst != null){
                            ajaxFirst.abort();
                            ajaxFirst = null;
                            return;
                        }

                        $(obj).attr("disabled", "disabled");

                        //对象名 提交已选择的移位单据信息
                        var objectName = "UpdateDisplacementListStockInOut";

                        var arr = new Array();
                        arr.push({
                            n_BillStockInOut_Id : "@(n_BillStockInOut_Id)"
                        })
                        //传递参数
                        var param = { Dictionarys : arr };

                        ajaxFirst = ajaxhelper.ajax_Post(objectName, param, function (result) {
                            
                            f_commonShowMsg("提交单据成功!");

                            setTimeout('location.href = "/Displacement/Index?ParentIds=" + "@ParentIds"', 2000);
                            ajaxFirst = null;
                        }, function (result) {
                            f_commonShowMsg(result.Msgs[0]);
                            ajaxFirst = null;

                            $(obj).removeAttr("disabled");
                        })

                    },
                    //验证所填是否是数字,不是则清空
                    f_checkNum: function () {
                        //检查是否是非数字值
                        if (isNaN($(event.target).val())) {
                            $(event.target).val("");
                        }
                    },
                    //选择行事件
                    f_CheckRecord: function () {
                        var index = $(event.target).parent().attr("index");
                        //先清除状态
                        vue.DataList.forEach(function (value, index) {
                            value.IsCheckRecord = false;
                        })
                        //标记选中行
                        vue.DataList[index].IsCheckRecord = true;
                    }
                }
            });

            //加载页面后执行
            vue.f_reloadPage();
        })
    </script>
}
