@using Tops.FRM;
@{
    ViewBag.Title = "漆件历史日均出库量统计报表";
    ViewBag.ModuleName = "资料查询";
    Layout = "~/TopsLib/Views/Shared/_Module.cshtml";
    string QueryName = "SelLacquerWareDayStockList";
    Tops.FRM.Biz biz = Tops.FRM.Biz.GetBiz(QueryName, Tops.FRM.BizType.Query);
    var metas = Tops.FRM.TopsMeta.LoadMetas(QueryName);
    metas[0]["品牌"].Width = 70;
    metas[0]["车系"].Width = 70;
    metas[0]["颜色"].Width = 70;
    metas[0]["均分天数"].Width = 70;
    metas[0]["开始时间"].Width = 80;
    metas[0]["结束时间"].Width = 80;
    metas[0]["阶段出库量"].Width = 90;
    metas[0]["工程变更号"].Width = 90;
    foreach (string key in metas[0].Keys)
    {
        metas[0][key].Type = "String";
    }

    var cols = ModuleConfig.GetColumns(metas[0], biz.Lookups, biz.Sqls[0], biz);

    //Excel文件名称时间后缀
    string ExcelDate = DateTime.Now.ToString("yyyyMMdd"); 
}
@section Params{
    <form id="paramForm" method="post" action="/ExcelHelp/DownLoad">
    <div id="hiddenlist">
        <input type="hidden" name="exportdata" value="SelLacquerWareDayStockList_ExcelData" />
        <input type="hidden" name="exportcolumn" value="SelLacquerWareDayStockList_ExcelColumns" />
        <input type="hidden" name="exportsheetname" value="漆件日均出库量报表_@(ExcelDate)" />
        <input type="hidden" name="exportcondition" value="" />
    </div>
    <div id="paramlist">
        @for (int i = 0; i < biz.Fields.Count; i++)
        {
            string labelStr = string.IsNullOrEmpty(biz.Fields[i].Title) ? biz.Fields[i].FieldName : biz.Fields[i].Title;
            var fieldName = biz.Fields[i].FieldName;
            var lookupField = biz.Lookups.Where(p => p.KeyField == fieldName);
            <div class="param_item">
                @if (lookupField != null && lookupField.ToList().Count > 0)
                {
                    <label class="plugin_label">@(labelStr):</label>
                    <input type="text" name="@(fieldName)"  fieldType="lookup" label="@(labelStr)" />
                    <script type="text/javascript">
                            $("input[name=@(fieldName)]")[0].lookup=@Html.Raw(lookupField.First<Lookup>().ToJson());
                    </script>
                }
                else if (biz.Fields[i].DataList.Count > 0)
                {
                    <label class="plugin_label">@(labelStr):</label>
                    <select name="@(fieldName)" fieldType="select" >
                        @foreach (var item in biz.Fields[i].DataList)
                        {
                            <option value="@(item.Key)">@(item.Value)</option>
                        }
                    </select>
                }
                else if (biz.Fields[i].FieldType.EndsWith("DateTime"))
                {
                    <input type="text" name="@(fieldName)"  fieldType="date" label="@(labelStr)"/>
                }
                else
                {
                    <input type="text" name="@(fieldName)"  fieldType="textbox" label="@(labelStr)"/>
                }
            </div>
        }
        <div style="clear: both;">
        </div>
    </div>
    </form>
}
@section Script{
    <script type="text/javascript">
        var topsRender = null;
        var grid = null;

        //当前时间
        var endDate = new Date().getFullYear().toString() + "-" + (new Date().getMonth() + 1 < 10 ? "0" + (new Date().getMonth() + 1) : (new Date().getMonth() + 1).toString())
            + "-" + (new Date().getDate() < 10 ? "0" + new Date().getDate() : new Date().getDate().toString());

        var myDate = new Date();
        var date = myDate.getDate();
        date = date - 7;
        myDate.setDate(date);

        var beginDate = myDate.getFullYear().toString() + "-" + (myDate.getMonth() + 1 < 10 ? "0" + (myDate.getMonth() + 1) : (myDate.getMonth() + 1).toString())
            + "-" + (myDate.getDate() < 10 ? "0" + myDate.getDate() : myDate.getDate().toString());

        $(function () {
            $("#module_toolbar input").hide();
            $("#searchBt,#exportBt").show();

            //渲染插件
            topsRender = $("#paramlist *[fieldType]").pluginRender();

            $("#module_toolbar").append("<label style='color:red;'>说明:出库数量取自FIFO系统的出库记录表。      公式:历史日均出库量 = 阶段出库量/均分天数</label>");

            $("[name=BeginTime]").val(beginDate);
            $("[name=EndTime]").val(endDate);

            $("[name=DayCount]").val(7);

            //初始化表格
            grid = $("#datagrid").ligerGrid({
                columns: [
  {
      "name": "开始时间",
      "display": "开始时间",
      "align": "center",
      "width": 80,
      "hide": false,
      "type": "String",
      "editor": null,
      "frozen": false
  },
  {
      "name": "结束时间",
      "display": "结束时间",
      "align": "center",
      "width": 80,
      "hide": false,
      "type": "String",
      "editor": null,
      "frozen": false
  },
  {
      "name": "品牌",
      "display": "品牌",
      "align": "center",
      "width": 70,
      "hide": false,
      "type": "String",
      "editor": null,
      "frozen": false
  },
  {
      "name": "车系",
      "display": "车系",
      "align": "center",
      "width": 70,
      "hide": false,
      "type": "String",
      "editor": null,
      "frozen": false
  },
  {
      "name": "客户料号",
      "display": "客户料号",
      "align": "center",
      "width": 100,
      "hide": false,
      "type": "String",
      "editor": null,
      "frozen": false
  },
  {
      "name": "U9系统产品编码",
      "display": "U9系统产品编码",
      "align": "center",
      "width": 100,
      "hide": false,
      "type": "String",
      "editor": null,
      "frozen": false
  },
  {
      "name": "U9系统产品名称",
      "display": "U9系统产品名称",
      "align": "left",
      "width": 100,
      "hide": false,
      "type": "String",
      "editor": null,
      "frozen": false
  },
  {
      "name": "产品大类",
      "display": "产品大类",
      "align": "left",
      "width": 100,
      "hide": false,
      "type": "String",
      "editor": null,
      "frozen": false
  },
  {
      "name": "颜色",
      "display": "颜色",
      "align": "center",
      "width": 70,
      "hide": false,
      "type": "String",
      "editor": null,
      "frozen": false
  },
  {
      "name": "工程变更号",
      "display": "工程变更号",
      "align": "center",
      "width": 90,
      "hide": false,
      "type": "String",
      "editor": null,
      "frozen": false
  },
  {
      "name": "阶段出库量",
      "display": "阶段出库量",
      "align": "right",
      "width": 90,
      "hide": false,
      "type": "String",
      "editor": null,
      "frozen": false
  },
  {
      "name": "均分天数",
      "display": "均分天数",
      "align": "right",
      "width": 70,
      "hide": false,
      "type": "String",
      "editor": null,
      "frozen": false
  },
  {
      "name": "历史日均出库量",
      "display": "历史日均出库量",
      "align": "right",
      "width": 100,
      "hide": false,
      "type": "String",
      "editor": null,
      "frozen": false
  }
],
                url: '/AjaxGridData/SelLacquerWareDayStockList',
                method: 'get',
                delayLoad: true,
                dataType: "local",
                dataAction: 'server',
                root: 'Data',                       //数据源字段名
                record: 'Other1',                     //数据源记录数字段名
                rownumbers: true,
                //data: AllProductData, 
                showTitle: false,
                width: '99.5%',
                height: '100%',
                heightDiff: -10,
                enabledSort: true,
                onSuccess: function (data, b) {
                    $.topsErrorDeal(data);
                },
                onDblClickRow: function (rowdata, rowindex, rowDomElement) {
                    var idKey = '@(biz.Sqls[0].Key)';
                    if ($.trim(idKey) == '') return;
                    var idData = new Object();
                    idData[idKey] = rowdata[idKey];
                    f_addTab(rowdata[idKey], "维护[" + rowdata[idKey] + "]", "/module/modify?" + "ctrl=edit&id=" + escape($.toJSON(idData)) + "&" + Math.random());
                }
            });

            //重置分页框
            //$("select[name=rp]").empty().append('<option value="50">50</option><option value="100">100</option><option value="200">200</option><option value="1000">1000</option><option value="2000">2000</option><option value="5000">5000</option>');

            //绑定按钮事件
            $("#searchBt").click(function () {
                //            grid.options.parms = $("form#paramForm").serializeArray();
                //            grid.loadServerData(grid.options.parms);

                $('select[name=rp]').val($(".l-bar-group,.l-bar-selectpagesize").find("option:selected").val());
                grid.options.parms = $("form#paramForm").serializeArray();
                $('select[name=rp]').change();
            });
            $("#addBt").click(function () {
                f_addTab("Add", "添加", "/module/modify?" + "ctrl=add&" + Math.random());
            });
            $("#exportBt").click(function () {
                $("#paramForm").submit();
            })

            $("#searchBt").click();

        });
        function f_flushGrid() {
            grid.loadData();
        }
    </script>
}
<div id="datagrid">
</div>
